record(mbbi, "$(DEV):$(RECORD_NAME)")
{
    field(DESC, "$(DESC)")
    field(SCAN, "2 second")
    field(DTYP, "asynUInt32Digital")
    field(INP,  "@asynMask(hpm900_read_reg,$(OFFSET),0xFFFF)UINT16")
    field(ZRVL, "1")
    field(ONVL, "2")
    field(TWVL, "5")
    field(THVL, "6")
    field(FRVL, "7")
    field(FVVL, "8")
    field(SXVL, "9")
    field(SVVL, "10")
    field(ZRST, "SHUTDOWN")
    field(ONST, "STOP")
    field(TWST, "CYLINDER PURGE")
    field(THST, "MANIFOLD PURGE")
    field(FRST, "LINE PURGE")
    field(FVST, "STANDBY")   
    field(SXST, "SERVICE")   
    field(SVST, "MANUAL MODE")   
}

