record(longout, "$(DEV):$(RECORD_NAME)")
{
    field(DESC, "$(DESC)")
    field(SCAN, "Passive")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn(HPM900$(N)_set_reg,$(OFFSET))UINT16")
    field(VAL,  "1234")
}

